<p>Olá {{name}}, seja bem vindo(a) ao Hary World!</p>
<p>Esse é um email de confirmação de conta.</p>
<a href='{{url}}'>CONFIRMAR</a>

<p>Se você não se cadastrou no Hary World, não se preocupe, apenas ignore esse
  email.</p>